body {
    padding: 10px;
}

.nav-link {
    color: black;
}

.card {
    width: 18rem;
}

.container {
    padding: 10px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}