{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h2>Bought items</h2>
    <div class="container text-center justify-center">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {% if items %}
        {% for item in items %}
            <div class="col mb-5">
                <div class="card">
                    <a href="{% url 'auctions:item' id=item.product.id %}">
                        {% if item.product.img %}
                        <img class="card-img-top" src="{{ item.product.img.url }}" alt="Image" height="120px">
                        {% else %}
                        <!-- Placeholder image if no img is uploaded by user -->
                        <img class="card-img-top" src="/media/images/placeholder.svg" alt="Image" height="120px">
                        {% endif %}
                    </a>
                    <h4 class="card-title"><a href="{% url 'auctions:item' id=item.product.id %}">{{ item.product.title }}</a>
                        <span class="badge bg-warning">Sold</span></h4>
                    <p>TODO: Price: {{ item.product.price }}</p>
                    <p>{{ item.product.description }}</p>
                </div>   
            </div> 
        {% endfor %}
        {% else %}
        <p>You have not bought any items yet.</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}