{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
<h1>Active Listings</h1>
<div class="container text-center justify-center">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    {% for listing in listings %}
        <div class="col mb-5">
        <div class="card">
            <a href="{% url 'auctions:item' id=listing.id %}">
                {% if listing.img %}
                <img class="card-img-top" src="{{ listing.img.url }}" alt="Image" height="120px">
                {% else %}
                <!-- Placeholder image if no img is uploaded by user -->
                <img class="card-img-top" src="/media/images/placeholder.svg" alt="Image" height="120px">
                {% endif %}
            </a>
            <h4 class="card-title"><a href="{% url 'auctions:item' id=listing.id %}">{{ listing.title }}</a></h4>
            <p>Price: {{ listing.price }}</p>
            <p>{{ listing.description }}</p>
            <p>Active until {{ listing.date_end }}</p>
        </div>   
        </div> 
    {% endfor %}
</div>
</div>
</div>
{% endblock %}