{% extends "auctions/layout.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block body %}
<!-- Description of item -->
<div class="container">
    <div class="row border-bottom">
        <div class="col">
            {% if listing.img %}
            <p><img src="{{ listing.img.url }}" alt="Image" width="400"></p>
            {% else %}
            <!-- Placeholder image if no img is uploaded by user -->
            <p><img src="/media/images/placeholder.svg" alt="Image" width="400"></p>
            {% endif %}
        </div>
        <div class="col">
            <h1>{{ listing.title }}</h1>
            <p>Starting price: EUR {{ listing.price }}</p>
            <p>{{ listing.description }}</p>
            <p>Active until: <b>{{ listing.date_end }}</b> | Created: {{ listing.date }}</p>

            <!-- Bidding -->
            <h5><b>Current bid: </b>
                {% if bids.max_bid > 0 %} 
                    <b>EUR {{ bids.max_bid }} </b>
                {% else %}
                    Be the first to bid.
                {% endif %}
            </h5>
            <blockquote class="blockquote">
                <form action="{% url 'auctions:bid' id=listing.id %}" method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {% bootstrap_form form_bid %}
                    
                    <input class="form-control" type="submit" value="Post">
                </form>
                </blockquote>
            <p># bids</p>
        </div>
    </div>

    <!-- Comment section -->
    <div class="row">
        <div class="col">
            <h3 class="display-5">Comments:</h3>
            {% if comments %}
            {% for comment in comments %}
            <div class="row">
                <div class="col">
            <figure>
                <blockquote class="blockquote">
                    <p>{{ comment.comment }}</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    <p>From {{ comment.user }}</p>
                </figcaption>
            </figure>
        </div>
        </div>
            {% endfor %}
            {% else %}
            <p>No comments here. Be the first to comment.</p>
            {% endif %}

            <!-- Write own comment -->
            <blockquote class="blockquote">
            <form action="{% url 'auctions:item' id=listing.id %}" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                {% for field in form_comment %}
                {{ field }}
                {% endfor %}
                <input class="form-control" type="submit" value="Post">
            </form>
            </blockquote>
        </div>
    </div>
   
</div>
{% endblock %}