{% extends "auctions/layout.html" %}

<!--import for Datepicker-->
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}


{% block body %}
<div class="container">
    <h1>Create Listing</h1>

    <!-- for Datepicker -->
    {{ form.media }}
    

    <form class="form-horizontal" action="{% url 'auctions:listing' %}" method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="form-control btn btn-outline-dark" type="submit">
    </form>
</div>


{% endblock %}