{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h2>Watchlist</h2>
    <div class="container text-center justify-center">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {% if items %}
        {% for item in items %}
            <div class="col mb-5">
                <div class="card">
                    <a href="{% url 'auctions:item' id=item.product.id %}">
                        {% if item.img %}
                        <img class="card-img-top" src="{{ item.img.url }}" alt="Image" height="120px">
                        {% else %}
                        <!-- Placeholder image if no img is uploaded by user -->
                        <img class="card-img-top" src="/media/images/placeholder.svg" alt="Image" height="120px">
                        {% endif %}
                    </a>
                    <h4 class="card-title"><a href="{% url 'auctions:item' id=item.id %}">{{ listing.title }}</a></h4>
                    <p>Price: {{ item.price }}</p>
                    <p>{{ item.description }}</p>
                    <p>Active until {{ item.date_end }}</p>
                </div>   
            </div> 
        {% endfor %}
        {% else %}
        <p>There are no items on your watchlist.</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}